body {
    background-color: #f6f7f8;
    margin: 0;
    font-family: 'Inter';
}

.join-logo {
    height: 80px;
    width: 80px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.nav-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #2a3647;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    height: 49px;
    width: 91px;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #29abe2;
    transition: 100ms ease-in-out;
    box-shadow: 0px 4px 4px 0px #0000004e;
}

.login-content {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.login-container {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 449px;
    width: 652px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 2px #f0f0f0;
    gap: 24px;
}

h1 {
    text-align: center;
    width: 315px;
    height: 73px;
    gap: 16px;
    font-weight: 700;
    font-size: 61px;
}

.input-login {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 152px;
    width: 422px;

}

.input-login input {
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px;
    border-style: groove;
    border-color: #D1D1D1;
    gap: 10px;
    padding-left: 21px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    width: 100%;
    color: #2a3647;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.email-icon {
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding-left: 12px;
    width: 100%;
}

.password-icon {
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding-left: 12px;
    width: 100%;
}

.login-button {
    display: flex;
    text-align: center;
    gap: 35px;
    width: 322px;
    height: 48px;
    padding-bottom: 60px;
}

.login-button a {
    text-decoration: none;
}

.login {
    text-align: center;
    width: 110px;
    background-color: #2b3646;
    color: white;
    border: 1px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    padding-top: 15px;
    padding-right: 24px;
    padding-bottom: 15px;
    padding-left: 24px;
    cursor: pointer;
}

.login:hover {
    background-color: #29abe2;
    transition: 100ms ease-in-out;
    box-shadow: 0px 4px 4px 0px #0000004e;
}

.guest {
    width: 177px;
    background-color: white;
    color: #2b3646;
    border-radius: 8px;
    border: 1px;
    border-style: groove;
    border-color: #2A3647;
    font-weight: 700;
    font-size: 16px;
    padding-top: 15px;
    padding-right: 24px;
    padding-bottom: 15px;
    padding-left: 24px;
    cursor: pointer;
}

.guest:hover {
    color: #29abe2;
    border-color: #29abe2;
    transition: 100ms ease-in-out;
    box-shadow: 0px 4px 4px 0px #0000004e;
}