body {
    background-color: #f6f7f8;
    margin: 0;
    font-family: 'Inter';
    max-width: 1920px;
}

.nav-bar {
    display: flex;
    justify-content: right;
    padding: 80px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.nav-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #2a3647;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    height: 49px;
    width: 91px;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #29abe2;
    transition: 100ms ease-in-out;
    box-shadow: 0px 4px 4px 0px #0000004e;
}

.login-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-container {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 449px;
    width: 652px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 2px #f0f0f0;
    gap: 24px;
}

h1 {
    text-align: center;
    width: 315px;
    height: 73px;
    gap: 16px;
    font-weight: 700;
    font-size: 61px;
}

.input-login {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    width: 80%;

}

.input-login input {
    color: #FFFFFF;
    border-radius: 10px;
    border: 1px;
    border-style: groove;
    border-color: #D1D1D1;
    gap: 10px;
    padding-left: 21px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    width: 100%;
    color: #2a3647;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.email-icon {
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding-left: 12px;
    width: 100%;
}

.password-icon {
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding-left: 12px;
    width: 100%;
}

.login-button {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding-bottom: 60px;
}

.login-button a {
    text-decoration: none;
}

.login {
    text-align: center;
    background-color: #2b3646;
    color: white;
    width: 95px;
    border: 1px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.login:hover {
    background-color: #29abe2;
    transition: 100ms ease-in-out;
    box-shadow: 0px 4px 4px 0px #0000004e;
}

.guest {
    background-color: white;
    color: #2b3646;
    border-radius: 8px;
    border: 1px;
    border-style: groove;
    border-color: #2A3647;
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.guest:hover {
    color: #29abe2;
    border-color: #29abe2;
    transition: 100ms ease-in-out;
    box-shadow: 0px 4px 4px 0px #0000004e;
}


.select2-container {
  width: 100% !important;
  font-size: 1rem;
}
.select2-selection--multiple {
  min-height: 38px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: #fafbfc;
  padding: 4px 8px;
}
.select2-selection__choice {
  background: #0038ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 2px 8px;
  margin: 2px 4px 2px 0;
}

.join-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  height: auto;
  transform: translate(-50%, -50%) scale(1);
  z-index: 1000;
  transition: all 2s ease-in-out;
}


body.loaded .join-logo {
  left: 20px;
  top: 20px;
  width: 80px;
  height: auto;
  transform: none;
  z-index: 10;
}


.login-content,
.sidebar-bottom,
.nav-right {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}


.visible {
  opacity: 1;
}

  
  body.loaded .nav-bar,
  body.loaded .sign-up-content {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }

  .sidebar-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    padding-top: 30px;
}

.sidebar-bottom a{
    text-decoration: none;
    color: #A8A8A8;
}

.sidebar-bottom a:hover{
    color: #28abe2;
    font-weight: 800;
}

.nav-right-responsive{
  display: none;
}

  
@media (max-width: 1024px) {
    .nav-bar {
      display: flex;
      flex-direction: row;
    }
  
    .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    }
  
    .login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50%;
    gap: 15px;
    padding-bottom: 40px;
    }

    .input-login{
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .nav-button{
      font-size: 12px;
    }
  
    .login, .guest {
      width: 95px;
      font-size: 12px;
    }
  
    h1 {
      font-size: 48px;
      width: auto;
    }
  
    .join-logo {
      width: 80px;
      height: 80px;
    }
  
    #intro-logo img {
      width: 200px;
      height: 200px;
    }
  }
  
  @media (max-width: 768px) {
    
  
    .login-container {
      width: 80%;
      gap: 16px;
    }
  
    h1 {
      font-size: 36px;
    }
  
    .login-button {
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    }

    .nav-button{
      font-size: 12px;
    }
  
    .sidebar-bottom {
      flex-direction: row;
      gap: 20px;
      padding-top: 80px;
    }
  }

  @media (max-widt: 548px){

    .input-login{
    width: 70%;
    }

    .nav-button{
      font-size: 12px;
    }
  }
  
  @media (max-width: 480px) {
    .nav-bar {
      flex-direction: column;
      gap: 30px;
    }

    .nav-right{
      display: none;
    }

    .nav-right-responsive{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
    }

    .nav-button{
      font-size: 12px;
    }
  
    .login-container {
      width: 80%;
      padding: 10px;
      border-radius: 20px;
    }
  
    .input-login {
      width: 80%;
    }
  
    .login-button {
      width: 100%;
      gap: 5px;
    }
  
    h1 {
      font-size: 28px;
    }
  
    .join-logo {
      width: 80px;
      height: 80px;
    }
  
    #intro-logo img {
      width: 150px;
      height: 150px;
    }
  }
  
  @media (max-width: 320px) {
    h1 {
      font-size: 24px;
    }

    .nav-bar{
      width: 20px;
    }
  
    .login-container {
      gap: 12px;
    }
  
    .login-button {
      gap: 10px;
    }
  
    .join-logo {
      width: 60px;
    }
  
    #intro-logo img {
      width: 120px;
      height: 120px;
    }
  
    .sidebar-bottom {
      padding-top: 40px;
    }

    .nav-button{
    width: 80px;
    height: 36px;
    font-size: 12px;
    gap: 10px;
    }

    .hidden{
    display: none;
    }
  }