body {
  margin: 0;
  font-family: "Inter";
  background-color: #f6f7f8;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: auto;
}

.add-task-content {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.add-task-content-headline {
  padding-top: 80px;
  padding-left: 96px;
  display: flex;
  align-items: center;
}

.headline-text {
  font-size: 61px;
  font-weight: 700;
}

.form-sections {
  display: flex;
  gap: 32px;
  padding-left: 96px;
  padding-right: 96px;
  padding-top: 40px;
  box-sizing: border-box;
  justify-content: space-between;
  min-height: 60vh;
  align-items: stretch;
}

.main-infos,
.detailed-infos {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

select {
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.main-infos label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

.main-infos input,
.main-infos textarea,
.detailed-infos input,
.detailed-infos select,
.detailed-infos textarea {
  min-height: 50px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  cursor: pointer;
}

textarea {
  min-height: 120px;
}

.required {
  color: red;
  margin-left: 4px;
}

.separator {
  width: 2px;
  background-color: #d1d1d1;
  margin: 0 10px;
}

.priority-buttons {
  display: flex;
  gap: 10px;
}

.priority-buttons button {
  height: 48px;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  flex: 1;
}

.priority-buttons img {
  height: 12px;
  padding-left: 4px;
}

.equals {
  width: 20px;
}

.urgent {
  background-color: white;
}

.urgent:hover {
  transition: 100ms ease-in-out;
  box-shadow: 0px 4px 4px 0px #0000004e;
}

.medium {
  background-color: #ffa800;
  color: white;
}

.low {
  background-color: white;
}

.low:hover {
  transition: 100ms ease-in-out;
  box-shadow: 0px 4px 4px 0px #0000004e;
}

.required-text {
  color: red;
  font-size: 14px;
  margin-top: 70px;
  margin-left: 96px;
}

.subtask-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.subtask-input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border-radius: 8px;
  border: 0px;
  font-size: 16px;
  box-sizing: border-box;
}

.subtask-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #2a3647;
  cursor: pointer;
  padding: 0;
  line-height: 1;
}

.subtask-button:hover {
  color: #29abe2;
}

.form-buttons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 40px;
  height: 64px;
  font-size: 32px !important;
}

.cancel {
  background-color: #f6f7f8;
  color: #2a3647;
  border: 2px solid #2a3647;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.cancel:hover {
  color: #29abe2;
  border-color: #29abe2;
  transition: 100ms ease-in-out;
  box-shadow: 0px 4px 4px 0px #0000004e;
}

.create {
  background-color: #2a3647;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.create:hover {
  background-color: #29abe2;
  transition: 100ms ease-in-out;
  box-shadow: 0px 4px 4px 0px #0000004e;
}



.top-navbar span {
  font-size: 21px;
  font-weight: 400;
  color: #2a3647;
}

select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d1d1d1;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.navbar-logo {
  display: none;
}

.help-link-madia {
  display: none;
}
.suggestions-box {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  z-index: 100;
  }
.suggestion-item {
  padding: 8px;
  cursor: pointer;
}
.suggestion-item:hover {
background-color: #f0f0f0;
}
.hidden {
display: none;
}
.subtask-row {
  display: flex;
  align-items: center;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  margin-bottom: 10px;
}

.subtask-input {
  flex: 1;
  border: none !important;
  padding: 12px;
  font-size: 16px;
  outline: none;
}

.subtask-row button {
  background-color: transparent;
  border: none;
  padding: 0 16px;
  font-size: 20px;
  color: #2a3647;
  cursor: pointer;
}

.subtask-row button:hover {
  background-color: #f0f0f0;
}

@media (max-width: 798px) {
  .wrapper {
    flex-direction: column;
    min-height: 130vh;
  }
  .side-navbar {
        flex-direction: row;
        width: 100%;
        height: 80px;
        position: fixed;
        bottom: 0;
        left: 0;
        justify-content: space-around;
        align-items: center;
        padding: 0 16px 0 16px;
    }
  .content-area {
    padding-bottom: 300px;
  }

  .sidebar-img,
  .sidebar-bottom {
    display: none;
  }

  .sidebar-menu {
    flex-direction: row;
    gap: 12px;
  }

  .sidebar-menu a {
    flex-direction: column;
    font-size: 14px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .sidebar-menu img {
    width: 24px;
    height: 24px;
  }

  .top-navbar {
    padding: 16px 24px;
  }

  .top-navbar span {
    display: none;
  }

  .navbar-logo {
    display: inline-block;
    width: 32px;
    height: 40px;
  }

  .help-link {
    display: none;
  }

  .help-link-madia {
    display: inline-flex;
  }

  .add-task-content-headline {
    padding-left: 24px;
  }

  .form-sections {
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
  }

  .required-text {
    margin-left: 24px;
  }

  .headline-text {
    font-size: 36px;
  }

  .form-buttons {
    flex-direction: flex;
    align-items: stretch;
    gap: 12px;
  }

  .form-buttons button {
    width: 50%;
  }
  .required-text {
    display: none;
  }
}

@media (max-width: 416px) {
  .sidebar-menu a {
    gap: 4px;
    font-size: 10px;
    white-space: nowrap;
    padding: 8px;
  }
  .side-navbar {
    padding: 0;
  }
}

