body {
    margin: 0;
    font-family: 'Inter';
    background-color: #f6f7f8;
    height: 100vh;
    overflow: hidden;
}

.board-heeadline {
    flex-grow: 1;
    overflow-y: auto;
}

.board-content-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-left: 64px;
    padding-right: 64px;
}

.headline-text {
    font-size: 61px;
    font-weight: 700;
}

.headline-search-button {
  display: flex;
  gap: 32px;
}

.search-container {
  position: relative;
}

.search-container input {
  width: 100%;
  padding: 10px 40px 10px 12px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.search-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  right: 10px;
  border-radius: 50%;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.search-container button:hover {
  background-color: rgb(229, 229, 229);
}

.seaerch-separator {
  position: absolute;
  top: 25%;
  right: 50px;
  height: 50%;
  width: 1px;
  background-color: #ccc;
}

.add-task-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px;
  border-radius: 10px;
  background-color: #2A3647;
  color: white;
  font-size: 18px;
  font-weight: 700;
  gap: 4px;
}

.add-task-button:hover {
  background-color: #29abe2;
}

.column-titles {
  display: flex;
  justify-content: space-between;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 32px;
}

.column-titles span {
  font-size: 20px;
  font-weight: 700;
  color: #42526E;
}

.column-titles button {
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid;
}

.column-titles button:hover {
  color: #29abe2;
  border-color: #29abe2;
}