body {
    margin: 0;
    font-family: 'Inter';
    background-color: #f6f7f8;
    height: 100vh;
    overflow: hidden;
}

.help-content {
    flex-grow: 1;
    overflow-y: auto;
}

.help-headline {
    padding-top: 80px;
    padding-left: 96px;
    display: flex;
    align-items: center;
}

.headline-text {
    font-size: 61px;
    font-weight: 700;
}

.help-text {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-left: 96px;
    padding-right: 96px;
    gap: 35px;
}

.help-text {
    font-size: 16px;
    font-weight: 400;
}

.colored-letter {
    color: #29abe2;
}

.help-text h3 {
    margin-bottom: 0;
}

.under-h3-text {
    margin-top: 0;
    padding-left: 24px;
}