body {
    margin: 0;
    font-family: 'Inter';
    background-color: #f6f7f8;
    height: 100vh;
    max-width: 1920px;
}

.legal_notice-content {
    flex-grow: 1;
    overflow-y: auto;
}

.legal_notice-headline {
    padding-top: 80px;
    padding-left: 96px;
    display: flex;
    align-items: center;
}

.headline-text {
    font-size: 61px;
    font-weight: 700;
}

.legal_notice-text {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-left: 96px;
    padding-right: 96px;
    gap: 35px;

}

.subtitle {
    font-size: 27px;
    font-weight: 700;

}

.legal_notice-text span {
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 950px) {

    .side-navbar {
        flex-direction: row;
        width: 100%;
        height: 80px;
        position: fixed;
        bottom: 0;
        left: 0;
        justify-content: space-around;
        align-items: center;
        padding: 0 16px 0 16px;
    }

    .sidebar-img,
    .sidebar-bottom {
        display: none;
    }

    .sidebar-menu {
        flex-direction: row;
    }

    .sidebar-menu a {
        flex-direction: column;
        white-space: nowrap;
    }

    .legal_notice-headline {
        padding-left: 20px;
    }

    .headline-text {
        font-size: 47px;
    }

    .legal_notice-text {
        padding-left: 20px;
    }

    .imprint-text {
        padding: 0;
    }
}

@media (max-width: 570px) {
    .top-navbar span {
        display: none;
    }

    .help-link {
        display: none;
    }

    .help-link-madia {
        display: inline-flex;
    }

    .navbar-logo {
        display: inline-block;
        width: 32px;
        height: 40px;
    }

    .top-navbar {
        padding-left: 40px;
    }

    .sidebar-menu {
        gap: 0;
    }

    .side-navbar {
        padding: 0;
    }
}

@media (max-width: 416px) {
    .sidebar-menu a {
        font-size: 14px;
        padding: 8px;
    }

    .headline-text {
        font-size: 36px;
    }
}