body {
    margin: 0;
    font-family: 'Inter';
    background-color: #f6f7f8;
    height: 100vh;
}

.legal_notice-content {
    flex-grow: 1;
    overflow-y: auto;
}

.legal_notice-headline {
    padding-top: 80px;
    padding-left: 96px;
    display: flex;
    align-items: center;
}

.headline-text {
    font-size: 61px;
    font-weight: 700;
}

.legal_notice-text {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-left: 96px;
    padding-right: 96px;
    gap: 35px;

}

.subtitle {
    font-size: 27px;
    font-weight: 700;

}

.legal_notice-text span {
    font-size: 16px;
    font-weight: 400;
}