.wrapper {
    display: flex;
    height: 100vh;
}

.side-navbar {
    width: 232px;
    background-color: #2a3647;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    flex-shrink: 0;
}

.sidebar-img {
    display: flex;
    justify-content: center;
}

.sidebar-img img {
    width: 100px;
    height: 120px;
    padding: 48px;
}

.sidebar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.sidebar-menu img {
    width: 30px;
    height: 30px;
}

.sidebar-menu a {
    text-decoration: none;
    color: white;
    text-align: center;
    width: 100%;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-menu a:hover {
    background-color: #374762;
}

.sidebar-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 192px;
}

.sidebar-bottom a {
    text-decoration: none;
    color: #A8A8A8;
}

.sidebar-bottom a:hover {
    color: #29abe2;
}

.content-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    overflow: hidden;
}

.top-navbar {
    background-color: white;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 40px;
    box-shadow: 3px 5px 5px 1px #cdcdcd;
    flex-shrink: 0;
}

.user-name {
    display: flex;
    align-items: center;
    gap: 16px;
}

.user-name button {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid;
    border-color: #2A3647;
    cursor: pointer;
}

.user-name button:hover {
    background-color: rgb(229, 229, 229);
}

#user-name {
  font-size: 28px;
  font-weight: 700;
  color: #29abe2;
}

.user-dropdown-wrapper {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #2a3647;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 100;
    min-width: 160px;
}

.dropdown-menu a {
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 6px;
}

.dropdown-menu a:hover {
    background-color: #374762;
}

.hidden {
    display: none;
}