body {
  margin: 0;
  font-family: 'Inter';
  background-color: #f6f7f8;
  height: 100vh;
  overflow: hidden;
  max-width: 1920px;
}

.opacity {
  opacity: 0;
  transition: 300ms ease-in-out;
}

.splash-greeting {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f6f7f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#splash-greeting {
  opacity: 1;
  transition: 300ms ease-in-out;
  visibility: visible;
  z-index: 9999;
}

#splash-greeting.fade-out {
  opacity: 0;
  visibility: hidden;
}

#splash-greeting.hidden {
  opacity: 0;
  visibility: hidden;
}

.greeting-text-splash {
  font-size: 36px;
  font-weight: 400;
  color: #2A3647;
}

.summary-content {
  flex-grow: 1;
  overflow-y: auto;
}

.summary-content-headline {
  padding-top: 80px;
  padding-left: 96px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.separator {
  background-color: #29abe2;
  width: 2px;
  height: 60px;
}

.headline-text-1 {
  font-size: 61px;
  font-weight: 700;
}

.headline-text-2 {
  font-size: 27px;
  font-weight: 400;
}

.summary-main-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.summary-buttons {
  display: flex;
  flex-direction: column;
  padding-left: 96px;
  gap: 32px;
  margin-top: 40px;
  transition: transform 0.4s ease-in-out;
}

.summary-buttons a:hover {
  background-color: #2A3647;
  transition: 100ms ease-in-out;
  box-shadow: 0px 4px 4px 0px #0000004e;
  transform: scale(1.08);
}

.top-buttons a {
  width: 224px;
  height: 128px;
}

.top-buttons,
.bottom-buttons {
  display: flex;
  gap: 20px;
}

.summary-taskInfo {
  height: 128px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.summary-task-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.summary-taskInfo img {
  height: 60px;
  width: 60px;
  transition: filter 0.3s ease;
}

.summary-taskInfo .icon-hover {
  display: none;
}

.summary-taskInfo:hover .icon-default {
  display: none;
}

.summary-taskInfo:hover .icon-hover {
  display: inline;
}

.task-info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.task-count {
  font-size: 36px;
  color: #000000;
}

.task-label {
  color: #2A3647;
  font-size: 20px;
  text-align: center;
}

.summary-taskInfo:hover .task-info-text .task-count,
.summary-taskInfo:hover .task-info-text .task-label {
  color: white;
}

.middle-button a {
  width: 470px;
  height: 128px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.summary-taskDate:hover .task-info-text .task-count,
.summary-taskDate:hover .task-info-text .task-label {
  color: white;
}

.summary_urgent_date {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.urgent-separator {
  background-color: #D1D1D1;
  width: 2px;
  height: 80px;
}

.bottom-buttons {
  gap: 40px;
}

.bottom-buttons a {
  width: 128px;
}

.summary-greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  flex-shrink: 1;
  min-width: 0;
}

.greeting-text {
  font-size: 47px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #2A3647;
}

.greeting-user {
  display: flex;
  font-size: 48px;
  font-weight: 700;
  color: #29abe2;
}

@media (max-width: 1285px) {
  .summary-content-headline {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 38px;
  }

  .headline-text-1 {
    order: 1;
  }

  .headline-text-2 {
    order: 2;
  }

  .separator {
    order: 3;
    width: 90px;
    height: 2px;
    background-color: #29abe2;
  }

  .summary-main-content {
    flex-direction: column;
  }

  .summary-buttons {
    padding-left: 0;
  }

  .summary-greeting {
    display: none;
  }
}

@media (max-width: 862px) {
  .wrapper {
    flex-direction: column;
  }

  .headline-text-1 {
    font-size: 47px;
  }

  .headline-text-2 {
    font-size: 20px;
  }

  .side-navbar {
    flex-direction: row;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    padding: 0 16px 0 16px;
  }

  .sidebar-img,
  .sidebar-bottom {
    display: none;
  }

  .sidebar-menu {
    flex-direction: row;
  }

  .sidebar-menu a {
    flex-direction: column;
    white-space: nowrap;
  }

  .top-buttons a {
    width: 186px;
    height: 110px;
  }

  .middle-button a {
    width: 396px;
    height: 110px;
  }

  .bottom-buttons {
    gap: 24px;
  }

  .bottom-buttons a {
    width: 116px;
    height: 116px;
  }

  .task-label {
    font-size: 14px;
  }
}

@media (max-width: 564px) {
  .top-navbar span {
    display: none;
  }

  .help-link {
    display: none;
  }

  .help-link-madia {
    display: inline-flex;
  }

  .top-navbar {
    padding-left: 40px;
  }

  .navbar-logo {
    display: inline-block;
    width: 32px;
    height: 40px;
  }

  .summary-content-headline {
    align-items: flex-start;
  }

  .sidebar-menu {
    gap: 0;
  }
}

@media (max-width: 416px) {

  .headline-text-1 {
    font-size: 36px;
  }

  .headline-text-2 {
    font-size: 16px;
  }

  .top-buttons a {
    width: 128px;
    height: 96px;
  }

  .middle-button a {
    width: 268px;
    height: 96px;
    padding: 4px;
  }

  .bottom-buttons {
    gap: 16px;
  }

  .bottom-buttons a {
    width: 82px;
    height: 82px;
  }

  .side-navbar {
    padding: 0;
  }

  .sidebar-menu a {
    font-size: 14px;
    padding: 8px;
  }
}